In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("C:/Users/asus/Downloads/AB_NYC_2019/AB_NYC_2019.csv")
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

# Missing Data Handling

In [8]:
data.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [9]:
data.dropna(inplace=True)

In [10]:
data.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38821 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38821 non-null  int64
 1   name                            38821 non-null  object
 2   host_id                         38821 non-null  int64
 3   host_name                       38821 non-null  object
 4   neighbourhood_group             38821 non-null  object
 5   neighbourhood                   38821 non-null  object
 6   latitude                        38821 non-null  float64
 7   longitude                       38821 non-null  float64
 8   room_type                       38821 non-null  object
 9   price                           38821 non-null  int64
 10  minimum_nights                  38821 non-null  int64
 11  number_of_reviews               38821 non-null  int64
 12  last_review                     38821 non-null  object
 13  reviews_per_month               38821 non-null  float64
 14  calculated_host_listings_count  38821 non-null  int64
 15  availability_365                38821 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 5.0+ MB

# Duplicate Removal

In [12]:
data.duplicated()

0        False
1        False
3        False
4        False
5        False
         ...
48782    False
48790    False
48799    False
48805    False
48852    False
Length: 38821, dtype: bool

In [13]:
data = data.drop_duplicates(keep='first')

In [14]:
data.duplicated()

0        False
1        False
3        False
4        False
5        False
         ...
48782    False
48790    False
48799    False
48805    False
48852    False
Length: 38821, dtype: bool

# Standardization

In [15]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [18]:
data['neighbourhood_group'] = encoder.fit_transform(data['neighbourhood_group'])
data['neighbourhood'] = encoder.fit_transform(data['neighbourhood'])
data['room_type'] = encoder.fit_transform(data['room_type'])
data['host_name'] = encoder.fit_transform(data['host_name'])
data['name'] = encoder.fit_transform(data['name'])

In [19]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,9933,2787,4303,1,107,40.64749,-73.97237,1,149,1,9,2018-10-19,0.21,6,365
1,2595,30014,2845,4120,2,126,40.75362,-73.98377,0,225,1,45,2019-05-21,0.38,2,355
3,3831,11945,4869,5363,1,41,40.68514,-73.95976,0,89,1,270,2019-07-05,4.64,1,194
4,5022,15102,7192,5114,2,61,40.79851,-73.94399,0,80,10,9,2018-11-19,0.10,1,0
5,5099,19649,7322,1666,2,136,40.74767,-73.97500,0,200,3,74,2019-06-22,0.59,1,129

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38821 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38821 non-null  int64
 1   name                            38821 non-null  int32
 2   host_id                         38821 non-null  int64
 3   host_name                       38821 non-null  int64
 4   neighbourhood_group             38821 non-null  int64
 5   neighbourhood                   38821 non-null  int64
 6   latitude                        38821 non-null  float64
 7   longitude                       38821 non-null  float64
 8   room_type                       38821 non-null  int64
 9   price                           38821 non-null  int64
 10  minimum_nights                  38821 non-null  int64
 11  number_of_reviews               38821 non-null  int64
 12  last_review                     38821 non-null  object
 13  reviews_per_month               38821 non-null  float64
 14  calculated_host_listings_count  38821 non-null  int64
 15  availability_365                38821 non-null  int64
dtypes: float64(3), int32(1), int64(11), object(1)
memory usage: 4.9+ MB

# Outlier Detection

In [22]:
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)

C:\Users\asus\AppData\Local\Temp\ipykernel_10912\493345901.py:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = data.quantile(0.25)
C:\Users\asus\AppData\Local\Temp\ipykernel_10912\493345901.py:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3 = data.quantile(0.75)

In [23]:
IQR = Q3 - Q1

In [25]:
outliers = (data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))

C:\Users\asus\AppData\Local\Temp\ipykernel_10912\3713543063.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = (data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))

In [28]:
outliers_summary = outliers.sum()

In [29]:
print(outliers_summary)

availability_365                     0
calculated_host_listings_count    5236
host_id                           1395
host_name                            0
id                                   0
last_review                          0
latitude                           276
longitude                         2298
minimum_nights                    4462
name                                 0
neighbourhood                        0
neighbourhood_group                314
number_of_reviews                 4231
price                             2077
reviews_per_month                 1790
room_type                            0
dtype: int64